* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  .ant-layout {
    height: 100vh;
    .ant-layout-header {
      background-color: rgb(255, 255, 255) !important;
      .header {
        width: 300px;
      }
      .ant-btn {
        padding: 10px !important;
      }
      .menuLine {
        .ant-menu {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
