.slider-item {
  height: 410px;
  margin: 0px;
  line-height: 160px;
  .slider-title {
    font-size: 18px;
    font-weight: 500;
  }
  .slider-heading {
    font-size: 50px;
    font-weight: 400;
  }
}
